@font-face
  font-family: 'Kanit Bold'
  src: url("/dist/typography/Kanit-Bold.ttf")

@font-face
  font-family: 'Kanit Regular'
  src: url("/dist/typography/Kanit-Regular.ttf")

@mixin set-scroll-style($animation, $direction)
  animation-name: $animation
  animation-duration: 2s
  animation-direction: $direction
  animation-iteration-count: 1
  animation-fill-mode: forwards

.root
  height: 100%
  background: #FFF
  font-family: Kanit Regular

.content-container
  height: 100%

.content-body
  width: 100%
  overflow-y: hidden

html
  height: 100%

body
    padding: 0
    margin: 0
    height: 100%

html, body
    overflow-y: scroll
    scrollbar-width: none

body::-webkit-scrollbar
  display: none

.navbar
  display: none

.content
  width: 100%

  .content-marging
    padding-right: 24px

.header
  width: 100%

.header-content
  height: 100%

.carousel
  height: 100%

.screen
  height: 100%

.dots
  height: 100%
  display: flex
  margin-top: 24%

  .carousel-dot
    padding-right: 10px

    &.standard
      svg
        fill: none

      &.active
        svg
          fill: #33D1DA

.card
  .card-container
    height: auto

.content-card
  margin: 20px 40px

.marketing
  padding: 0 30px
  text-decoration: none
  font-size: 24px

  img
    height: 40px
    vertical-align: middle
    padding-right: 10px

  span
    vertical-align: middle

.carousel-dot
  margin-bottom: 35px
  margin-top: 50px
  margin-left: 58px

  &:last-of-type
    margin-bottom: 0

.logo-b1mt
  height: 65px
  img
    height: 100%
    padding-left: 45px

.b1mt-market
  font-size: 20px
  display: flex
  line-height: 32px
  justify-content: center
  letter-spacing: 0.05em

  .b1mt-market-content
    text-align: left

.split-bar
  margin: 0 20px

.content-1mt
  width: 100%
  text-align: right

.container-1mt
  padding-right: 27px

.logo-1mt
  z-index: 1
  background: #33D1DA
  border-radius: 30px
  width: fit-content
  padding: 2px 0
  text-align: right

@media (max-width: 991px)
  .dots, .logo-1mt, .logo-b1mt
    display: none

  .b1mt-market
    top: 50px

#home, #buy, #info, #roadmap, #use-cases, #stake
  &.scroll-down
    @include set-scroll-style(scroll-down-animation, normal)

#community, #buy, #info, #roadmap, #use-cases, #stake
  &.scroll-up
    @include set-scroll-style(scroll-up-animation, normal)

@keyframes scroll-up-animation
  0%
    position: relative
    top: 0
    opacity: 1
  100%
    top: 2000px
    opacity: 0

@keyframes scroll-down-animation
  0%
    position: relative
    top: 0
    opacity: 1
  100%
    top: -2000px
    opacity: 0
