@font-face
  font-family: 'Kanit Bold'
  src: url("/dist/typography/Kanit-Bold.ttf")

@font-face
  font-family: 'Kanit Regular'
  src: url("/dist/typography/Kanit-Regular.ttf")

@mixin set-scroll-style($animation, $direction)
  animation-name: $animation
  animation-duration: 2s
  animation-direction: $direction
  animation-iteration-count: 1
  animation-fill-mode: forwards

.carousel
    height: 100%

.root
  height: 100%
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.45) 0%, rgba(229, 229, 229, 0.1575) 8.51%, rgba(11, 10, 10, 0.1575) 24.03%, rgba(11, 10, 10, 0.45) 98.22%)
  font-family: Kanit Regular

html
  height: 100%

body
    padding: 0
    margin: 0
    height: 100%

.navbar
  display: none

.content
  width: 100%

  .content-marging
    padding-right: 24px

.screen
  height: 100%

.dots
  height: 100%
  display: flex

  .carousel-dot
    padding-right: 10px

.card
  .card-container
    height: auto

.content-card
  margin: 20px 40px

.marketing
  padding: 0 30px
  text-decoration: none
  font-size: 24px

  img
    height: 40px
    vertical-align: middle
    padding-right: 10px

  span
    vertical-align: middle

.carousel-dot
  margin-bottom: 35px
  margin-top: 50px
  margin-left: 58px

  &:last-of-type
    margin-bottom: 0

.logo-b1mt
  position: absolute
  top: 18px
  left: 24px

  img
    width: 100px

.logo-1mt
  position: absolute
  top: 35px
  right: 24px
  z-index: 1
  background: rgba(11, 10, 10, 0.45)
  border-radius: 30px

  img
    width: 45px

.b1mt-market
  position: absolute
  top: 33px
  width: 100%
  font-size: 22px
  display: flex
  justify-content: center
  letter-spacing: 0.1em

  .b1mt-market-content
    text-align: left

.split-bar
  margin: 0 20px

@media (max-width: 991px)
  .dots, .logo-1mt, .logo-b1mt
    display: none

  .b1mt-market
    top: 50px

#home, #buy, #info, #roadmap, #use-cases, #stake
  &.scroll-down
    @include set-scroll-style(scroll-down-animation, normal)

#community, #buy, #info, #roadmap, #use-cases, #stake
  &.scroll-up
    @include set-scroll-style(scroll-up-animation, normal)

@keyframes scroll-up-animation
  0%
    position: relative
    top: 0
    opacity: 1
  100%
    top: 2000px
    opacity: 0

@keyframes scroll-down-animation
  0%
    position: relative
    top: 0
    opacity: 1
  100%
    top: -2000px
    opacity: 0
