@font-face
  font-family: 'Kanit Bold'
  src: url("/dist/typography/Kanit-Bold.ttf")

@font-face
  font-family: 'Kanit Regular'
  src: url("/dist/typography/Kanit-Regular.ttf")

@font-face
  font-family: 'Kanit Light'
  src: url("/dist/typography/Kanit-Light.ttf")

@mixin set-scroll-style($animation, $direction)
  animation-name: $animation
  animation-duration: 2s
  animation-direction: $direction
  animation-iteration-count: 1
  animation-fill-mode: forwards

.root
  height: 100%
  background: #FFF
  font-family: Kanit Regular

.content-container
  height: 100%

.content-body
  width: 100%
  overflow-y: hidden

html
  height: 100%

body
    padding: 0
    margin: 0
    height: 100%

html, body
    overflow-y: scroll
    scrollbar-width: none

body::-webkit-scrollbar
  display: none

.navbar
  display: none

.content
  width: 100%

.header
  width: 100%
  position: fixed
  background: #FFF
  z-index: 1

.header-content
  height: 100%

.carousel
  height: 100%

.screen
  height: 100%
  padding-top: 5%

.plain-text
  font-family: Kanit Regular

.dots
  height: 100%
  display: flex
  margin-top: 24%

  .carousel-dot
    padding-right: 10px

    &.standard
      svg
        fill: none

      &.active
        svg
          fill: #33D1DA

.card
  .card-container
    height: auto

.content-card
  margin: 20px 40px

.marketing
  padding: 0 22px
  text-decoration: none
  font-size: 24px

  img
    height: 40px
    vertical-align: middle
    padding-right: 10px

  span
    vertical-align: middle

.carousel-dot
  margin-bottom: 35px
  margin-top: 50px
  margin-left: 58px

  &:last-of-type
    margin-bottom: 0

  .use-cases-dot
    margin-left: -4px

.logo-b1mt
  height: 65px
  img
    height: 100%
    padding-left: 45px

.b1mt-market
  font-size: 20px
  display: flex
  line-height: 32px
  justify-content: center
  letter-spacing: 0.05em

  .b1mt-market-content
    text-align: left

.split-bar
  margin: 0 20px

.content-1mt
  width: 100%
  text-align: right
  padding: 10px 0

.container-1mt
  padding-right: 27px

.logo-1mt
  z-index: 1
  padding-top: 6px
  text-align: right
  width: 200px

.logo-swap
  z-index: 1
  background: linear-gradient(180deg, rgba(215, 223, 113, 0.2) 16.67%, #D7DF71 82.29%)
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.45), 0px 6px 6px rgba(215, 223, 113, 0.5)
  border: 2px solid #D7DF71
  border-radius: 30px
  padding: 4px 0
  text-align: right
  margin-left: 30px
  width: 200px

  img
    height: 32px

  span
    color: #0A3639

@media (max-width: 1680px)
  .dots
    margin-top: 10%

  .carousel-dot
    margin-bottom: 20px
    margin-top: 34px

@media (max-width: 991px)
  .dots, .logo-1mt, .logo-b1mt
    display: none

  .b1mt-market
    top: 50px

  .logo-swap
    display: none

  .screen
    padding-top: 100px

  .content-body
    overflow-y: scroll
    scrollbar-width: none

    &::-webkit-scrollbar
      display: none

@media (min-width: 1366px) and (max-height: 799px)
  .b1mt-market
    line-height: 20px

#home, #buy, #info, #roadmap, #use-cases, #stake
  &.scroll-down
    @include set-scroll-style(scroll-down-animation, normal)

#community, #buy, #info, #roadmap, #use-cases, #stake
  &.scroll-up
    @include set-scroll-style(scroll-up-animation, normal)

@keyframes scroll-up-animation
  0%
    position: relative
    top: 0
    opacity: 1
  100%
    top: 2000px
    opacity: 0

@keyframes scroll-down-animation
  0%
    position: relative
    top: 0
    opacity: 1
  100%
    top: -2000px
    opacity: 0
