.community-content
  padding: 114px 79px
  background: rgba(255, 255, 255, 0.5)
  box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, 0.25)
  border-radius: 25px

.medium-icon
  margin: 0 48px 0 48px

.social-icon
  margin-left: 100px
  &:first-of-type
    margin-left: 0
