.logo-main-page
    width: 170px

.home-description
  padding: 20px
  background: rgba(255, 255, 255, 0.3)
  border-radius: 15px

.home-parragraph
  text-align: left
  font-size: 20px
  font-family: Kanit Regular
  font-style: normal
  line-height: 28px
  font-weight: 300
  letter-spacing: 0.04em

  &.right-line
    border-right: 2px solid rgba(38, 169, 183, 0.2)
    padding-right: 80px
    margin-right: 45px

.slogan
  font-size: 70px
  font-family: 'Kanit Bold'
  text-align: left

.slogan-description
  font-size: 40px
  text-align: left

.moon-target
  position: relative
  width: 780px
  height: 682px

  img
    top: 48px
    z-index: 1
    position: absolute
    width: 780px
    height: 682px
    right: 0
