.roadmap
  background: radial-gradient(48.7% 102.59% at 98.7% 6.57%, #0A8DF3 15.46%, rgba(10, 141, 243, 0) 59.06%), radial-gradient(31.79% 65.6% at 2.03% 100%, #0A8DF3 22.88%, rgba(10, 141, 243, 0) 68.08%), radial-gradient(38.54% 76.86% at -5.05% 10.21%, #0A8DF3 19.18%, rgba(10, 141, 243, 0) 100%), radial-gradient(39.43% 103.58% at 98.49% 93.53%, #0A8DF3 0%, rgba(10, 141, 243, 0) 100%), radial-gradient(36.25% 75.99% at 96.93% 0%, #0A8DF3 0%, rgba(10, 141, 243, 0) 59.06%), linear-gradient(64.68deg, #0A8DF3 11.16%, rgba(10, 141, 243, 0) 30.89%), radial-gradient(46.67% 96.14% at 8.18% 124.46%, #0A8DF3 15.66%, rgba(10, 141, 243, 0) 68.08%), radial-gradient(21.88% 45.06% at 93.59% 102.79%, #0A8DF3 0%, rgba(10, 141, 243, 0) 100%), radial-gradient(43.75% 178.99% at 53.59% 49.95%, #0A8DF3 12.86%, rgba(10, 141, 243, 0.2) 100%), conic-gradient(from 180.72deg at 48.18% 102.02%, #0A8DF3 -0.41deg, rgba(10, 141, 243, 0.56) 180.07deg, #0A8DF3 359.59deg, rgba(10, 141, 243, 0.56) 540.07deg)
  background-blend-mode: multiply

.scrollgrab
  overflow-y: hidden
  height: 50%
  margin-top: 3.6%

.scrollgrab-mobile
  margin-top: 30px
  display: none

@media (max-height: 700px)
  .scrollgrab
    margin-top: 1%
    height: 40%

@media (max-width: 991px)
  .roadmap
    background: #FFF

    .scrollgrab
      display: none

    .scrollgrab-mobile
      display: block
      height: 100%
      img
        height: 100%
        width: 100%
