.kennel-image
  height: 200px
  margin-right: 50px
  vertical-align: middle

.kennel-title, .kennel-description
  text-align: left

.kennel-title
  font-size: 24px

.kennel-description
  p
    font-size: 18px
