.kennel-image
  height: 200px
  margin-right: 50px
  margin-top: 18px

.kennel-title, .kennel-description
  text-align: left

.kennel-title
  font-size: 44px
  margin: 0 0 15px

.kennel-description
  p
    font-size: 24px
