.info
  background: radial-gradient(36.25% 75.99% at 96.93% 0%, #E8AB96 0%, rgba(232, 171, 150, 0) 59.06%), linear-gradient(47.18deg, #E8AB96 4.33%, rgba(232, 171, 150, 0) 25.82%), radial-gradient(35.89% 67.49% at 100% 86.15%, #E8AB96 15.66%, rgba(232, 171, 150, 0) 80.02%), radial-gradient(23.96% 52.62% at 106.09% -10.11%, #E8AB96 0%, rgba(232, 171, 150, 0) 74.01%), radial-gradient(44.88% 93.41% at -4.32% 121.74%, #E8AB96 15.66%, rgba(232, 171, 150, 0) 68.08%), radial-gradient(54.35% 111.88% at 90.86% 86%, #E8AB96 0%, rgba(232, 171, 150, 0) 100%), conic-gradient(from -20.47deg at 50% 102.73%, #E8AB96 -179.67deg, rgba(232, 171, 150, 0.618934) 0.82deg, #E8AB96 180.33deg, rgba(232, 171, 150, 0.618934) 360.82deg)
  background-blend-mode: multiply

.content-icon
  border-bottom: 0
  margin-bottom: 117px

#info
  margin-left: 36%

.content-last-icon, .content-icon
  img
    height: 80px

@media (max-width: 991px)
  .content-icon
    border-right: 0
    border-bottom: 3px solid #C8CFD0
    margin-bottom: 20px
    padding-bottom: 20px
