.content-icon
  border-bottom: 0
  margin-bottom: 117px

#info
  margin-left: 36%

.content-last-icon, .content-icon
  img
    height: 80px

@media (max-width: 991px)
  .content-icon
    border-right: 0
    border-bottom: 3px solid #C8CFD0
    margin-bottom: 20px
    padding-bottom: 20px
