.use-cases
  text-align: left
  background: radial-gradient(40.26% 67.95% at 46.82% 74.01%, rgba(88, 101, 242, 0.5) 12.86%, rgba(88, 101, 242, 0.1) 100%), conic-gradient(from 180deg at 47.66% 105.56%, #5865F2 -5.71deg, rgba(88, 101, 242, 0.56) 180deg, #5865F2 354.29deg, rgba(88, 101, 242, 0.56) 540deg), radial-gradient(36.25% 75.99% at 96.93% 0%, #5865F2 0%, rgba(232, 171, 150, 0) 59.06%), linear-gradient(55.21deg, #5865F2 -0.68%, rgba(232, 171, 150, 0) 11.77%), radial-gradient(46.67% 96.14% at 8.18% 124.46%, #5865F2 15.66%, rgba(232, 171, 150, 0) 68.08%), radial-gradient(21.88% 45.06% at 93.59% 102.79%, #5865F2 0%, rgba(232, 171, 150, 0) 100%), radial-gradient(38.39% 117.37% at 0% 34.12%, #5865F2 0%, rgba(232, 171, 150, 0) 100%), radial-gradient(36.25% 75.99% at 96.93% 0%, #5865F2 0%, rgba(232, 171, 150, 0) 59.06%), linear-gradient(60.42deg, #5865F2 0.75%, rgba(232, 171, 150, 0) 17.05%), radial-gradient(31.79% 65.6% at 2.03% 100%, #5865F2 22.88%, rgba(88, 101, 242, 0) 68.08%), radial-gradient(48.96% 100.87% at -26.51% -72.86%, #5865F2 19.18%, rgba(232, 171, 150, 0) 100%), radial-gradient(38.39% 117.37% at 0% 34.12%, #5865F2 0%, rgba(232, 171, 150, 0) 100%)

  .use-cases-content
    &:first-of-type
      margin-bottom: 50px

  .use-cases-image
    margin-right: 38px
    vertical-align: middle

  .use-cases-title
    font-size: 39px
    color: #FFF
    font-weight: 500
    line-height: 58px
    letter-spacing: 0.02em
    margin-bottom: 20px
    margin-block-start: 0

  .use-cases-description
    font-size: 24px
    font-family: Kanit Light
    font-weight: 300
    line-height: 36px
    color: #fff

    ul
      margin-left: 0
      padding-inline-start: 25px

    li
      margin-bottom: 15px

@media (max-width: 1680px)
  .use-cases
    .use-cases-title
      font-size: 26px
      margin-bottom: 10px

    .use-cases-description
      font-size: 16px
      line-height: 20px

      li
        margin-bottom: 5px

    .use-cases-content
      &:first-of-type
        margin-top: 40px

@media (max-width: 991px)
  .use-cases
    background: #FFFFFF

    .use-cases-title, .use-cases-description
      color: inherit

    .use-cases-image
      margin-right: 0
